:root {
  --button-size: 70px;
  --font-small: 20px;
  --font-regular: 25px;
  --font-large: 50px;
  --transition-duration: 0.1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

body {
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: #d6e8fa;
}

main {
  height: 600px;
  width: 325px;
  margin-inline: auto;
  margin-top: 20px;
}

#display {
  height: 34%;
  padding: 20px;
  justify-content: flex-end;
  text-align: right;
  transition-duration: var(--transition-duration);
}

#display #expression {
  font-size: var(--font-regular);
  word-wrap: break-word;
  transition-duration: var(--transition-duration);
}

#display #result {
  font-size: var(--font-large);
  min-height: 60px;
  word-wrap: break-word;

  transition-duration: var(--transition-duration);
}

.fa-github {
  font-size: var(--font-small);
}

#button-container {
  height: 66%;
  width: 100%;
  align-items: center;
}

button,
#btn-github {
  height: var(--button-size);
  width: var(--button-size);
  margin: 4px;
  border: none;
  border-radius: 50%;
  font-size: var(--font-regular);
  background-color: #cce0f5;
  transition-duration: var(--transition-duration);
}

button:hover,
#btn-github:hover {
  background-color: #c1d7f0;
  cursor: default;
}

button:active,
#btn-github:active {
  background-color: #b8d1ee;
}

#btn-github {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-github > a {
  cursor: default;
}

a {
  text-decoration: none;
  color: #000;
}

footer {
  margin-bottom: 20px;
}
